.page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 92px;
}

@media screen and (max-width: 768px) {
  .page {
    gap: 88px;
  }
}
@media screen and (max-width: 320px) {
  .page {
    gap: 62px;
  }
}
